@import '~antd/dist/antd.css';

body {
  background-color: black;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#bullets-info {
  position: absolute;
  color: red;
	top: 10px;
	width: 100%;
	text-align: left;
	z-index: 100;
  display:block;
  font-size: 20px;
}

#zombies-info {
  position: absolute;
  color: red;
	top: 10px;
	width: 100%;
	text-align: right;
	z-index: 100;
  display:block;
  font-size: 20px;
}

#level-info {
  position: absolute;
  color: red;
	bottom: 10px;
	width: 30%;
	text-align: center;
	z-index: 100;
  display:block;
  font-size: 20px;
}